In [113]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_diabetes
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

In [114]:
class ELMRegressor():
    def __init__(self, n_hidden_units):
        self.n_hidden_units = n_hidden_units

    def fit(self, X, labels):
        X = np.column_stack([X, np.ones([X.shape[0], 1])])
        self.random_weights = np.random.randn(X.shape[1], self.n_hidden_units)
        G = np.tanh(X.dot(self.random_weights))
        self.w_elm = np.linalg.pinv(G).dot(labels)

    def predict(self, X):
        X = np.column_stack([X, np.ones([X.shape[0], 1])])
        G = np.tanh(X.dot(self.random_weights))
        return G.dot(self.w_elm)

In [115]:
diabetes = load_diabetes()

In [116]:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990749, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06833155, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286131, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04688253,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452873, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00422151,  0.00306441]], shape=(442, 10)),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n:Number of Instances: 442\n\n:Number of Attributes: First 10 columns are numeric predictive values\n\n:Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n:Attribute Information:\n    - age     age in years\n    - sex\n    - bmi     body mass index\n    - bp      average blood pressure\n    - s1      tc, total serum cholesterol\n    - s2      ldl, low-density lipoproteins\n    - s3      hdl, high-density lipoproteins\n    - s4      tch, total cholesterol / HDL\n    - s5      ltg, possibly log of serum triglycerides level\n    - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'diabetes_data_raw.csv.gz',
 'target_filename': 'diabetes_target.csv.gz',
 'data_module': 'sklearn.datasets.data'}

In [117]:
x,y = diabetes['data'],diabetes['target']

In [118]:
# train 80% , test 20%
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [119]:
elm = ELMRegressor(200)

In [120]:
elm.fit(x_train,y_train)

In [121]:
# Random Weight
print(elm.random_weights)

[[ 0.82483033 -0.26609636  1.70855481 ...  0.53830208  2.00923427
  -0.53893919]
 [-1.18705968 -0.31584066  0.2564418  ...  1.51262069  0.07991519
  -0.77512242]
 [-0.65769941  0.42470868  0.201327   ... -0.4227244  -0.86106501
   0.21940137]
 ...
 [ 0.24955926  1.5649138   1.2688578  ...  1.24776933 -0.28094716
   1.33837964]
 [-0.39655056  0.27463895 -1.03825845 ...  0.77063532  1.32209663
   1.28974733]
 [-0.29028749 -0.77430207  1.42128303 ... -0.19997033  1.29737826
   0.56871656]]

In [122]:
# Weight Hidden Layer Calculated
print(elm.w_elm)

[-2.99520337e+04  1.83478854e+04 -6.92829862e+04 -9.74384004e+03
  7.17932164e+03 -8.87893881e+03 -1.64779399e+03 -7.18198837e+03
 -5.11394764e+03 -6.58176633e+03  1.98632621e+04 -3.27525357e+02
  1.19121787e+03 -3.73902044e+03 -1.80829603e+04 -6.00285498e+03
  5.59726337e+02  3.21686436e+05 -1.31632101e+04 -8.03918688e+04
  9.00554225e+04 -5.45824896e+04  2.77939439e+04 -3.49781427e+04
 -2.66893286e+03  2.62531412e+04 -7.48304474e+03 -5.84000815e+04
  2.42899254e+04  9.75102080e+04  2.37240894e+04 -1.24366600e+03
  7.42002782e+03 -2.12063698e+04  3.95456842e+04  7.62215013e+03
  1.43976680e+04 -6.67412807e+03  5.47635533e+04  7.44496472e+04
 -5.57373107e+04 -8.62696060e+03 -3.87442169e+04 -2.25127609e+03
  1.48748077e+04  1.19581370e+04 -1.49968564e+04  1.95907721e+04
 -5.53243180e+04  4.22001609e+03  1.92850663e+04  3.18374521e+04
 -1.96670427e+04 -1.69596412e+04  6.12997096e+04 -1.03362345e+04
  1.41793647e+03 -4.56015658e+03 -4.66850466e+04  2.00514626e+04
  2.08858972e+05 -3.31481436e+03 -5.24344431e+03 -1.41149753e+04
 -2.07603776e+03  2.84849060e+03  1.11604703e+04  8.45333983e+04
 -4.34068314e+04 -2.44325728e+04 -4.78210707e+03 -3.17444659e+03
 -1.58391561e+05 -4.34599986e+03  2.49581611e+04  2.06782426e+04
 -1.01740839e+04  1.35432126e+04  1.74281456e+03  3.71867705e+04
  8.50606864e+04  6.28076511e+04 -2.26861097e+02 -1.07354935e+04
  1.09864610e+05 -5.36015251e+03 -1.45963885e+05  1.17043585e+03
  8.56914723e+03 -7.22689792e+04 -8.26479927e+04 -2.12719012e+04
  2.91189140e+04 -2.86735284e+04  3.58101970e+05 -9.62179900e+04
 -2.52230995e+04  1.21466521e+02  1.67191701e+04 -4.81303373e+03
 -1.15789315e+03 -3.60755348e+01 -1.02523872e+04 -9.80737894e+03
  6.19681641e+04 -2.07487489e+04  3.31357987e+04 -2.82337290e+03
  3.08521416e+04  5.31622500e+04 -9.63192808e+02 -2.21545538e+04
  1.51028302e+02  7.18810397e+05  2.24054635e+03 -7.17281508e+03
 -8.83193526e+03  2.31353263e+04 -8.82595848e+04  1.53905596e+04
  3.05176943e+03  2.38490444e+04  4.47272215e+04 -9.21266580e+04
 -1.64171004e+05  2.45569206e+04  4.16873283e+03  5.78110720e+04
  8.03744445e+03  2.92172867e+04  4.97778671e+04  4.04417235e+04
  4.10509301e+04  1.95093466e+04 -1.21260363e+05 -2.87771896e+04
  2.27283816e+04  2.92187051e+05 -8.58436374e+04 -2.84822380e+04
  1.15072802e+05 -2.09405407e+04 -2.19398276e+02 -1.63476352e+03
 -1.11089668e+03 -3.54302141e+04 -1.69939775e+02  4.72632727e+04
 -1.44917051e+04  3.19396167e+05  1.74856890e+04  2.09675139e+04
 -4.28741114e+03 -1.01449295e+04 -9.74170117e+03  1.00481739e+04
 -4.21629041e+05 -1.63818243e+04  4.89918140e+05 -8.20757585e+04
 -1.37347085e+04  4.45669059e+04  8.78074761e+04  9.67885234e+04
 -3.34801337e+04  1.47909226e+05  5.09429509e+04  9.24325340e+03
  3.27124540e+03 -6.67563825e+03  9.01078761e+04  1.82058899e+04
  3.48259501e+04 -4.30528228e+04  2.85110437e+03  3.24750450e+03
 -1.14351223e+05  2.57046012e+04 -8.14794517e+03  1.06070181e+04
 -1.07572985e+04  4.74848188e+03  8.22933748e+04 -8.18979586e+04
  4.53753060e+04  6.18936597e+02  9.30610856e+03 -1.31190568e+03
  2.45628591e+04 -7.03039337e+03  1.11814381e+05 -1.50300635e+04
 -1.19887538e+05 -1.94463326e+03  1.59886431e+04 -2.12139456e+04
  1.83326269e+03 -8.34353756e+02  2.30186491e+04 -2.66460563e+04]

In [123]:
print(x_test[1,:])
print(y_test[1])
x=x_test[1,:].reshape(1,-1)
print(x)
y_pred = elm.predict(x)
print(y_pred)

[ 0.09256398 -0.04464164  0.03690653  0.02187239 -0.02496016 -0.01665815
  0.00077881 -0.03949338 -0.02251653 -0.02178823]
70.0
[[ 0.09256398 -0.04464164  0.03690653  0.02187239 -0.02496016 -0.01665815
   0.00077881 -0.03949338 -0.02251653 -0.02178823]]
[89.86652317]

In [124]:
#Evaluation
std_data = StandardScaler()
x_train = std_data.fit_transform(x_train)
x_test = std_data.transform(x_test)
max_y_train = max(abs(y_train))
y_train = y_train / max_y_train
y_test = y_test / max_y_train
elm = ELMRegressor(100)
elm.fit(x_train,y_train)
y_pred = elm.predict(x_test)
from sklearn.metrics import mean_absolute_error,mean_squared_error
print('MAE',mean_absolute_error(y_test,y_pred))
print("MSE",mean_squared_error(y_test,y_pred))

# ClassWork

### 1. ELM1
- InClass Test 5 data
- hidden units = 100, 200, 250
- columns = "People", "Y", "100units", "200units", "250units"
                            , data, error, data, error, data, error
- mae

In [141]:
data = pd.DataFrame(columns=["Y", "100units_pred", "100units_error", "200units_pred", "200units_error", "250units_pred", "250units_error"])
units = [100, 200, 250]
diabetes = load_diabetes()
x,y = diabetes['data'],diabetes['target']
# train 80% , test 20%
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
work_x_test = x_test[:5]
work_y_test = y_test[:5]
for unit in units:
  elm = ELMRegressor(unit)
  elm.fit(x_train, y_train)
  y_pred = elm.predict(work_x_test)
  data['Y'] = work_y_test
  data[f'{unit}units_pred'] = y_pred
  data[f'{unit}units_error'] = abs(data['Y']-data[f'{unit}units_pred']) # Absolute deviation

# Row Total MAD ERROR
# Append "Y" last row for "Total ERROR" text
data.loc['Total ERROR'] = data[["100units_error", "200units_error", "250units_error"]].sum()
# MAD
data.loc['MAD', '100units_error'] = data.loc['Total ERROR', '100units_error'] / len(work_y_test) # Mean Absolute deviation
data.loc['MAD', '200units_error'] = data.loc['Total ERROR', '200units_error'] / len(work_y_test) # Mean Absolute deviation
data.loc['MAD', '250units_error'] = data.loc['Total ERROR', '250units_error'] / len(work_y_test) # Mean Absolute deviation

# Convert all columns to numeric
data = data.apply(pd.to_numeric, errors='coerce')

# find min mad and print amount units should be used
min_mad = data.loc['MAD'].min()
min_mad_unit = data.loc['MAD'].idxmin()
print("No Norm")
print("Shound be used", min_mad_unit.replace('units_error', ''), "units with MAD", min_mad)

# Set NaN values to empty string
data = data.fillna('')

data

No Norm
Shound be used 250 units with MAD 27.725784895339892

,Y,100units_pred,100units_error,200units_pred,200units_error,250units_pred,250units_error
0,219.0,128.876592,90.123408,124.529053,94.470947,266.012738,47.012738
1,70.0,148.499966,78.499966,111.73304,41.733040,40.806294,29.193706
2,202.0,155.155965,46.844035,99.678053,102.321947,207.427584,5.427584
3,230.0,237.590495,7.590495,-10.810924,240.810924,269.958889,39.958889
4,111.0,127.151438,16.151438,115.760828,4.760828,128.036008,17.036008
Total ERROR,,,239.209342,,484.097686,,138.628924
MAD,,,47.841868,,96.819537,,27.725785